<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;600;700&family=Source+Sans+Pro:wght@300;400;600;700;900&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/81478abc59.js" crossorigin="anonymous"></script>

    carousel 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css"/> 
    
    <title>Document</title>
</head>
<body>
    <nav id="navbar">

        <div class="nav-image">
            <img src="./images/logo-big.png" alt="">
        </div>
        
        <ul class="nav-links">
            <li><a href="">Home</a></li>
            <li><a href="">Interiors</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Travel</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>

        <a id="closeNav" href="javascript:void(0);" class="responsive-none" onclick="moveResponsiveNav()">
            <i class="fa fa-bars fa-2x"></i>
        </a>
    </nav> -->

    <section class="small-title-section" style="background-image: url('./images/ligh-portrait.jpg');">
        <h1 class="white italic-letters">My nombre es <span class="stroke-only">Omar</span></h1>
    </section>

    <section class="extra-margin adaptative-width">
        <div class="double-column limited-small-height">
            <div class="text">
                <h2>Our <span class="orange-letters">mission</span></h2>
                <p class="extra-line-height">Founded in 2016, Meero is revolutionizing the world of photography by providing photographers a platform for their passion. From finding jobs to invoicing to post-production to delivery, Meero is taking the work out of making a living as a photographer.</p>
            </div>
            <img class="adaptative-image" src="./images/ligh-portrait-2.jpg" alt="">
        </div>
    
        <div class="double-column limited-small-height">
            <img class="adaptative-image" src="./images/ligh-portrait-2.jpg" alt="">
            <div  class="text">
                <p class="extra-line-height">To accomplish this, Meero has developed countless innovations and tools to deliver businesses — and soon, consumers — customized photo and video offerings around the world. Meero provides end-to-end shoot management, guarantees unbeatable prices and premium quality, and all with delivery times of less than 24 hours.</p>
            </div>     
        </div>
    </section>

    <section class="double-column-full extra-margin limited-large-height" style="background-color: #fbe283;">
        <div class="extra-padding text" >
            <h1>From <span class="blue-letters">our CEO</span></h1>
            <p class="extra-line-height">« We have to fight for the creative among us to be able to use their time and energy to create. That’s why we here at Meero dedicate our time and our talent to developing tools designed to improve the daily lives of photographers all around the world. By removing the mundane tasks that creators have to do, they can focus on what they love to do: create. »</p>
            <h3>Thomas Rebaud • <span class="orange-letters">CEO</span></h3>
        </div>
        <img class="adaptative-image padded-image" src="./images/ligh-portrait-4.jpg" alt="" srcset="">
    </section>

    <section class="">
    <!--     <h2>Conoce mi trabajo</h2>

        <div class="slides-container">
            <div class="slider" style="background-color: #fa575d;">
                <img src="./images/water-4.jpg" alt="">
            </div>
            <img class="slider" src="./images/ligh-portrait-4.jpg" alt="" srcset="">
            <img class="slider" src="./images/ligh-portrait-4.jpg" alt="" srcset="">
            <img class="slider" src="./images/ligh-portrait-4.jpg" alt="" srcset="">
            <img class="slider" src="./images/ligh-portrait-4.jpg" alt="" srcset="">
        </div>
    </section> -->

    <div class="wrapper">
        <h2>Mi <span class="blue-letters">trabajo</span><h2>
            <div class="carousel">
              <div><img class="adaptative-image" src="./images/about-work-1.jpg"></div>
              <div><img class="adaptative-image" src="./images/about-work-2.jpg"></div>
              <div><img class="adaptative-image" src="./images/about-work-3.jpg"></div>
              <div><img class="adaptative-image" src="./images/about-work-4.jpg"></div>
              <div><img class="adaptative-image" src="./images/about-work-5.jpg"></div>
            </div>
    </div>
 
    <section class="small-centered-section extra-margin">
        <div class="adaptative-half-size">
            <h2>Puedo <span class="dark-blue-letters">ayudarte</span></h2>
            <h3>Lorem ipsum dolor sit amet, non elit.</h3>
            <p class="white">Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
            <a class="button button-2">CONTACT ME</a>
        </div>       
    </section>

    <!-- <footer>
        <h3 class="white">© OMAR LOPEZ  2002 -  2021</h3> 
        <div>
            <a href="" class="white icon-link"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="" class="white icon-link"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="" class="white icon-link"><i class="far fa-envelope fa-2x"></i></a>
        </div>
    </footer> -->
    
    

    <!-- CAROUSEL -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="/javascript/carousel.js"></script>

    <!-- <script src="hideNav.js"></script>
</body>
</html> -->