<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;600;700&family=Source+Sans+Pro:wght@300;400;600;700;900&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/81478abc59.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <nav id="navbar" class="nav-transparent">

        <div class="nav-image">
            <img src="./images/logo-big.png" alt="">
        </div>
        
        <ul class="nav-links ">
            <li><a href="">Home</a></li>
            <li><a href="">Interiors</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Travel</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>

        <a id="closeNav" href="javascript:void(0);" class="responsive-none" onclick="moveResponsiveNav()">
            <i class="fa fa-bars fa-2x"></i>
        </a>
    </nav>
 -->

    <section class="my-carousel-2 big-section">
        <div class=" slides-container-2">
            <div class="slider">
                <img class="adaptative-image" src="/images/ligh-portrait-1.jpg" alt="">
            </div>
            <div class="slider">
                <img class="adaptative-image" src="/images/ligh-portrait-2.jpg" alt="">
            </div>
            <div class="slider">
                <img class="adaptative-image" src="/images/ligh-portrait-3.jpg" alt="">
            </div>
            <div class="slider">
                <img class="adaptative-image" src="/images/ligh-portrait-4.jpg" alt="">
            </div>   
        </div>
        <div class="bottom-selector">
            <div class="active"></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>
     

    <section class="adaptative-width extra-margin home-section">
        <a href=""><h1 class="align-left outline-hover"><span class="orange-letters">Retratos</span> Femeninos</h1></a>
        
        <img class="full-image" src="/images/home-1.jpg" alt="">
        <div class="double-column limited-small-height">
            <div  class="text">
                <!-- <h2>Our <span class="orange-letters">mission</span></h2> -->
                <p class="extra-line-height">Founded in 2016, Meero is revolutionizing the world of photography by providing photographers a platform for their passion. From finding jobs to invoicing to post-production to delivery, Meero is taking the work out of making a living as a photographer.</p>
            </div>
            <img class="adaptative-image" src="/images/ligh-portrait-2.jpg" alt="">
        </div>
    </section>

    <section class="adaptative-width extra-margin home-section">
        <a href=""><h1 class="align-left outline-hover">Flores <span class="pink-letters">Multicolores</span></h1></a>    
        <img class="full-image" src="/images/home-2.jpg" alt=""> 
        <div class="double-column limited-small-height">
            <img class="adaptative-image" src="/images/ligh-portrait-2.jpg" alt="">
            <div  class="text">
                <!-- <h2>Our <span class="orange-letters">mission</span></h2> -->
                <p class="extra-line-height">Founded in 2016, Meero is revolutionizing the world of photography by providing photographers a platform for their passion. From finding jobs to invoicing to post-production to delivery, Meero is taking the work out of making a living as a photographer.</p>
            </div>        
        </div>    
    </section>

    <section class="adaptative-width extra-margin home-section">
        <a href=""><h1 class="align-left outline-hover"><span class="blue-letters">Moda</span> Femenina</h1></a>
        <img class="full-image" src="/images/home-3.jpg" alt=""> 
        <div class="double-column limited-small-height">         
            <div class="text">
                <!-- <h2>Our <span class="orange-letters">mission</span></h2> -->
                <p class="extra-line-height">Founded in 2016, Meero is revolutionizing the world of photography by providing photographers a platform for their passion. From finding jobs to invoicing to post-production to delivery, Meero is taking the work out of making a living as a photographer.</p>
            </div>   
            <img class="adaptative-image" src="/images/ligh-portrait-2.jpg" alt="">     
        </div>          
    </section>


    <section class="extra-margin my-carousel">
        <h2>Que puedo <span class="blue-letters">hacer?</span></h2>
        <div class="top-selector">
            <div>
                <img src="/images/health-icon.png" alt="">
                <span class="mobile-none">RETRATOS</span>
            </div>
            <div>
                <img src="/images/time-icon.png" alt="">
                <span class="mobile-none">PAISAJES</span>
            </div>
            <div>
                <img src="/images/education-icon.png" alt="">
                <span class="mobile-none">URBANO</span>
            </div>
            <div>
                <img src="/images/women-icon.png" alt="">
                <span class="mobile-none">COMIDA</span>
            </div>
        </div>
        <div class="slides-container">
            <div class="slider double-column-full limited-large-height" style="background-color: #fa575d;">
                <div  class="extra-padding text">
                    <div>
                        <p  class="white extra-line-height">Hadjara learned about the importance of handwashing in school. Then she went home and taught her family about it, too. Now, her family is healthier than ever.</p>
                        <a class="button button-5" style="background-color: #DD2C00;" href="">Meet Hadjara</a>
                    </div>
                    
                </div>
                <img class="adaptative-image" src="/images/home-category-1.jpg" alt="">
            </div>
            <div class="slider double-column-full limited-large-height" style="background-color: #8ed4cc;">
                <div  class="extra-padding text">
                    <div>
                        <p class="white extra-line-height">Hadjara learned about the importance of handwashing in school. Then she went home and taught her family about it, too. Now, her family is healthier than ever.</p>
                        <a class="button button-5" style="background-color: #00a295;" href="">Meet Hadjara</a>
                    </div>
                    
                </div>
                <img class="adaptative-image" src="/images/home-category-2.jpg" alt="">
            </div>
            <div class="slider double-column-full limited-large-height" style="background-color: #9ed989;">
                <div class="extra-padding text">
                    <div>
                        <p class="white extra-line-height">Hadjara learned about the importance of handwashing in school. Then she went home and taught her family about it, too. Now, her family is healthier than ever.</p>
                        <a class="button button-5" style="background-color: #E8E46E;" href="">Meet Hadjara</a>
                    </div>
                    
                </div>
                
                <img class="adaptative-image" src="/images/home-category-3.jpg" alt="">
                
            </div>
            <div class="slider double-column-full limited-large-height" style="background-color: #b58fb4;">
                <div  class="extra-padding text">
                    <div>
                        <p class="white extra-line-height">Hadjara learned about the importance of handwashing in school. Then she went home and taught her family about it, too. Now, her family is healthier than ever.</p>
                        <a class="button button-5" style="background-color: #B83B5E;" href="">Meet Hadjara</a>
                    </div>
                    
                </div>
                <img class="adaptative-image" src="/images/home-category-2.jpg" alt="">
            </div>
        </div>
    </section>

    <script src="/javascript/slider.js"></script>

    <!-- <footer>
        <h3 class="white">© OMAR LOPEZ  2002 -  2021</h3> 
        <div>
            <a href="" class="white icon-link"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="" class="white icon-link"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="" class="white icon-link"><i class="far fa-envelope fa-2x"></i></a>
        </div>
    </footer>

    
    <script src="hideNav.js"></script>
    <script src="slider.js"></script>
</body>
</html> -->