<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;600;700&family=Source+Sans+Pro:wght@300;400;600;700;900&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/81478abc59.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <nav id="navbar">

        <div class="nav-image">
            <img src="./images/logo-big.png" alt="">
        </div>
        
        <ul class="nav-links">
            <li><a href="">Home</a></li>
            <li><a href="">Interiors</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Travel</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>

        <a id="closeNav" href="javascript:void(0);" class="responsive-none" onclick="moveResponsiveNav()">
            <i class="fa fa-bars fa-2x"></i>
        </a>
    </nav> -->

    <section style="background-image: url('./images/ligh-portrait.jpg');" class="big-title-section">
        <h1 class="white italic-letters">COLORED <br> LIGHT</h1>
    </section>

    <section class="content-section adaptative-width extra-margin">
        <img class="content-card center" src="/images/ligh-portrait-1.jpg" alt="">
        <img class="content-card center" src="/images/ligh-portrait-2.jpg" alt="">
        <img class="content-card right" src="/images/ligh-portrait-3.jpg" alt="">
        <img class="content-card" src="/images/ligh-portrait-4.jpg" alt="">

        <img class="content-card center" src="/images/ligh-portrait-1.jpg" alt="">
        <img class="content-card center" src="/images/ligh-portrait-2.jpg" alt="">
        <img class="content-card right" src="/images/ligh-portrait-3.jpg" alt="">
        <img class="content-card" src="/images/ligh-portrait-4.jpg" alt="">

        <img class="content-card center" src="/images/ligh-portrait-1.jpg" alt="">
        <img class="content-card center" src="/images/ligh-portrait-2.jpg" alt="">
        <img class="content-card right" src="/images/ligh-portrait-3.jpg" alt="">
        <img class="content-card" src="/images/ligh-portrait-4.jpg" alt="">

        <img class="content-card center" src="/images/ligh-portrait-1.jpg" alt="">
        <img class="content-card center" src="/images/ligh-portrait-2.jpg" alt="">
     
    </section>

    <section class="comentary-section adaptative-width extra-margin align-left">
        <h3>"Masculinity"</h3>
        <p>This series is an exploration of the projected identity of the human male, as such, it is intended to include a full range of emotions and gestures. I am enthralled by the painterly effect achieved by photographing the male form through water,  the way the forms seem to radiate carnal energy. Beyond that, I have decided to leave the interpretation more open than I had initially planned.</p>
    </section>

    <section style="background-image: url('./images/ligh-portrait.jpg');" class="big-title-section">
        <h1 class="white italic-letters">COLORED <br> LIGHT</h1>
    </section>

    <section class="content-section  adaptative-width extra-margin">
        <img class="content-card center" src="/images/ligh-portrait-1.jpg" alt="">
        <img class="content-card center" src="/images/ligh-portrait-2.jpg" alt="">
        <img class="content-card right" src="/images/ligh-portrait-3.jpg" alt="">
        <img class="content-card" src="/images/ligh-portrait-4.jpg" alt="">

        <img class="content-card center" src="/images/ligh-portrait-1.jpg" alt="">
        <img class="content-card center" src="/images/ligh-portrait-2.jpg" alt="">
        <img class="content-card right" src="/images/ligh-portrait-3.jpg" alt="">
        <img class="content-card" src="/images/ligh-portrait-4.jpg" alt="">

        <img class="content-card center" src="/images/ligh-portrait-1.jpg" alt="">
        <img class="content-card center" src="/images/ligh-portrait-2.jpg" alt="">
        <img class="content-card right" src="/images/ligh-portrait-3.jpg" alt="">
        <img class="content-card" src="/images/ligh-portrait-4.jpg" alt="">
    </section>

    <!-- <footer>
        <h3 class="white">© OMAR LOPEZ  2002 -  2021</h3> 
        <div>
            <a href="" class="white icon-link"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="" class="white icon-link"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="" class="white icon-link"><i class="far fa-envelope fa-2x"></i></a>
        </div>
    </footer>
    
    <script src="hideNav.js"></script>
</body>
</html> -->